* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-color: #F1F1F1;
}

h1 {
	display: none;
}

ul {
	list-style-type: none;
}

#top {
	width: 100%;
	height: 110px;
}

#top h2 {
	background-image: url(../images/logo3.png);
	background-repeat: no-repeat;
	width: 500px;
	height: 110px;
	line-height: 110px;
	font-size: 14px;
	color: #fff;
	margin-left: 300px;
	font-family: 黑体;
}

h2 span {
	padding-left: 220px;
}

h2 span a {
	font-family: 黑体;
	color: #869F22;
	text-decoration: none;
}

#nav {
	height: 65px;
}

#nav_row {
	width: 1200px;
	height: 65px;
	margin: 0 auto;
	text-align: left;
}

.ulone li {
	float: left;
	padding: 0px 8px;
}

.ulone li.nav1 {
	position: relative;
}

.ulone {
	display: inline-block;
}

.ulone li a {
	display: block;
	color: #999;
	font-family: 黑体;
	font-size: 14px;
	width: 80px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	text-decoration: none;
}

.ulone li a:hover {
	color: #fff;
}

.nav2 {
	display: none;
	width: 100px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 95%;
	left: -5px;
}

.nav2 li {
	padding: 5px;
}

.ulone .nav2 li a {
	display: block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.0);
}

.ulone .nav2 li a:hover {
	background-color: #869F22;
}

.ulone li:hover ul {
	display: block;
}

#con {
	margin: 310px auto 0;
	width: 100%;
	height: 1200px;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
}

#main {
	width: 1250px;
	margin: auto;
}

#left {
	width: 220px;
	height: 1000px;
	float: left;
	margin-right: 30px;
}

#right {
	float: left;
	width: 960px;
	position: relative;
}

#up {
	width: 960px;
	height: 500px;
	float: left;
}

#in {
	margin-top: 15px;
	width: 960px;
	height: 250px;
	float: left;
}

#lower {
	margin-top: 15px;
	width: 960px;
	height: 250px;
	float: left;
	background: url(../images/bot.png);
}

.img_ {
	padding: 10px;
}

.leftul li+li {
	border-bottom: 1px solid #000;
}

.leftul li a {
	text-align: center;
	display: block;
	color: #999;
	background-color: #34383F;
	text-decoration: none;
	width: 220px;
	height: 50px;
	line-height: 50px;
	font-family: 微软雅黑;
	font-size: 14px;
}

.leftul li a:hover {
	color: #fff;
}

.leftul .zhcz a {
	background: #869F22;
	color: #fff;
}

#left .yxxz {
	padding: 5px 0;
	display: block;
	width: 220px;
	height: 180px;
	text-align: center;
	background: #282C33;
}

#left .leftul2 {
	height: 350px;
	background: #42474E;
}

#left .leftul2 li {
	float: left;
	width: 87px;
	padding: 10px;
}

#left .leftul2 li a {
	border: 1px solid #61656C;
	text-decoration: none;
	color: #999;
	display: block;
	font-size: #999;
	background: #42474E;
	text-align: center;
	width: 90px;
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	font-family: 微软雅黑;
}

#left .leftul2 li a:hover {
	background: #ccc;
	color: #000;
	transition: 1s all;
}

#left h3 {
	background: #282C33;
	padding: 20px;
	position: relative;
}

#left h3 span {
	display: block;
	text-align: center;
	width: 170px;
	height: 50px;
	line-height: 50px;
	border: 5px solid #484D55;
	background: #1E2125;
	text-decoration: none;
	font-family: 黑体;
	font-size: 15px;
	color: #999;
}

#left h3:hover .ulul {
	display: block;
}

#left h3 .ulul {
	display: none;
	background: #1E2125;
	border: 5px solid #484D55;
	position: absolute;
	top: -785px;
	left: 20px;
}

#left h3 .ulul a {
	display: block;
	width: 170px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #999;
	font-size: 14px;
	text-decoration: none;
}

#left h3 .ulul a:hover {
	background: #484D55;
}

#upleft {
	position: absolute;
	/*--绝对定位，方便子元素的定位*/
	width: 480px;
	height: 246px;
	overflow: hidden;
}

#photos img {
	float: left;
	width: 480px;
	height: 246px;
}

/*.play {
	animation: ma 10s ease-out infinite alternate;
	
}*/

@keyframes ma {

	/*---每图片切换有两个阶段：位移切换和静置。中间的效果可以任意定制----*/
	0%,
	20% {
		margin-left: 0px;
	}

	25%,
	40% {
		margin-left: -480px;
	}

	45%,
	60% {
		margin-left: -960px;
	}

	65%,
	80% {
		margin-left: -1440px;
	}

	85%,
	100% {
		margin-left: -1920px;
	}
}

.num {
	position: absolute;
	z-index: 10;
	display: inline-block;
	right: 165px;
	top: 220px;
	background: #fff;
	width: 15px;
	height: 15px;
	cursor: pointer;
	color: #fff;
	text-align: center;
	opacity: 0.8;
}

.num:hover {
	background: #869F22;
}

.num:hover,
#photos:hover {
	animation-play-state: paused;
}

.num:nth-child(2) {
	margin-right: 30px;
}

.num:nth-child(3) {
	margin-right: 60px;
}

.num:nth-child(4) {
	margin-right: 90px;
}

.num:nth-child(5) {
	margin-right: 120px;
}

#a1:hover~#photos {
	animation: ma1 .5s ease-out forwards;
}

#a2:hover~#photos {
	animation: ma2 .5s ease-out forwards;
}

#a3:hover~#photos {
	animation: ma3 .5s ease-out forwards;
}

#a4:hover~#photos {
	animation: ma4 .5s ease-out forwards;
}

#a5:hover~#photos {
	animation: ma5 .5s ease-out forwards;
}

@keyframes ma1 {
	0% {
		margin-left: -1920px;
	}

	100% {
		margin-left: -0px;
	}
}

@keyframes ma2 {
	0% {
		margin-left: -1920px;
	}

	100% {
		margin-left: -480px;
	}
}

@keyframes ma3 {
	100% {
		margin-left: -960px;
	}
}

@keyframes ma4 {
	100% {
		margin-left: -1440px;
	}
}

@keyframes ma5 {
	100% {
		margin-left: -1920px;
	}
}

.upleft2 ul {
	border-bottom: 1px solid #999;
	background: #fff;
	margin-top: 246px;
	width: 480px;
	height: 48px;
}

.upleft2 li {
	float: left;
}

.upleft2 li a {
	display: block;
	text-align: center;
	font-family: 黑体;
	font-size: 15px;
	width: 96px;
	height: 45px;
	line-height: 45px;
	color: #999;
	text-decoration: none;
}

.upleft2 li a:hover {
	border-bottom: 3px solid #869F22;
}

.upleft2 .bot {
	border-bottom: 3px solid #869F22;
}

#p1 {
	float: left;
	background: #fff;
	width: 450px;
	height: 200px;
}

#p1 a {
	padding: 5px 10px;
	display: block;
	height: 20px;
	line-height: 50px;
	text-align: left;
	text-decoration: none;
	color: #999;
	font-size: 15px;
	font-family: 微软雅黑;
}

#p1 a:hover {
	text-decoration: underline;
	text-decoration-color: #999;
}

#p1 .ah {
	color: #D9663E;
	font-size: 18px;
	text-align: center;
}

#p1 .ah:hover {
	/*text-decoration-color: #D9663E;*/
	-moz-text-decoration-color: #D9663E;
}

#p2 {
	float: left;
	width: 30px;
	height: 155px;
	padding: 45px 10px 0 0;
	line-height: 30px;
	background: #fff;
	text-align: left;
	color: #999;
	font-size: 14px;
	font-family: 微软雅黑;
}

.gg {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	width: 90px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

#upright {
	position: absolute;
	top: 0;
	left: 480px;
	float: left;
	width: 480px;
	height: 495px;
	background: #fff;
}

#rt a {
	display: block;
	float: left;
}

#rbot a {
	display: block;
	width: 480px;
	height: 250px;
	float: left;
	margin-top: -4px;
}

#in #inl .gd1 {
	width: 71px;
}

.gd2 {
	width: 76px;
}

.gd1,
.gd2 {
	text-align: center;
	display: block;
	height: 30px;
	border: 0;
	background: #fff;
}

#inl,
#inr {
	float: left;
}

#inl li,
#inr li {
	float: left;
	margin-top: -3px;
}

#inl li a,
#inr li a {
	text-decoration: none;
	color: #999;
	font-size: 13px;
	background: #fff;
	text-align: center;
	display: block;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ccc;
}

#inl li a {
	width: 67px;
}

#inr li a {
	width: 79px;
}

#inl li a:hover,
#inr li a:hover {
	background: #869F22;
	color: #fff;
}

.fix {
	display: block;
	width: 130px;
	height: 155px;
	position: fixed;
	top: 350px;
	left: 100px;
}

#FR {
	width: 100%;
	height: 100px;
	line-height: 100px;
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
	clear: both;
}

#FR p {
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #666;
	font-family: 微软雅黑;
}

#FR p span {
	color: #ccc;
	font-size: 22px;
}

#copyright {
	width: 100%;
	height: 200px;
	background: url(../images/botbg.png) repeat-x #24282E;
	margin-top: 100px;
}

#botp {
	/*border:1px solid red;*/
	float: left;
	clear: both;
	width: 1150px;
	height: 130px;
	text-align: left;
	margin: 50px 0 0 350px;
}

#botimg {
	float: left;
	width: 350px;
	height: 130px;
	text-align: right;
	padding-right: 30px;
	/*border:1px solid red;*/
}

#botp p,
#botp p a {
	line-height: 20px;
	text-decoration: none;
	color: #66707F;
	font-family: 微软雅黑;
	font-size: 12px;
}
